.contact-body {
  min-height: 50vh;
  display: grid;
  align-items: center;
}

.contact-form{
  display: flex;
  flex-wrap: wrap;
  
  & > .contact-input {
    flex: 1 1 10ch;
    margin: .5rem;
    
    &[type="text"] {
      flex: 3 1 30ch;
    }
  }
}

.contact-input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
  
}

.contact-form-button {
  margin: 0.2em;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #20cf9b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2f4858;
}

.contact-text {
  margin: 0.2em;
  font-size: large;
}

.contact-form-button:hover {background-color: #00b799}

.contact-form-button:active {
  background-color: #00b799;
  box-shadow: 0 5px #2f4858;
  transform: translateY(4px);
}
